{% extends 'admin/base.html.twig' %}

{% block title %}Image{% endblock %}

{% block body %}
    <h1>Image</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ image.id }}</td>
            </tr>
            <tr>
                <th>Data</th>
                <td><img src="{{ path('app_get_image', { 'id': image.id }) }}" alt="Image" /></td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_image_index') }}">back to list</a>

    {{ include('admin/image/_delete_form.html.twig') }}
{% endblock %}
